body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 95%;
    display: grid;
    grid-gap: 20px;
}

header {
    color: green;
    text-align: center;
    
}

.Metodos {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-auto-rows: 300px;
    grid-gap: 20px;
    
}

ul {
    /*outline: green solid 10px;*/
    list-style: none;
    margin: 0%;
    padding: 0%;
    text-align: right;
    background-color: rgb(36, 212, 36);
   
}

li {
    /*outline: black solid 2px;*/
    display: inline-block;
    width: 300px;
    text-align: center;
    margin: 0;
    padding: 0;
    
}

a {
    /*outline: blue solid 3px;*/
    text-decoration: none;
    display: block;
    line-height: 30px;
    color: aliceblue;
    
}

a:hover {
    color: black;
    background-color: yellow;
}

p {
    text-align: justify;
}

.principal {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-auto-rows: 300px;
    grid-gap: 20px;
    
}

footer {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

html {
    background-color: rgb(241, 234, 225);
}